%backup%~
.lsp-session-v1
.org-id-locations
.projectile
auto-save-list/
bookmarks
elpa/
eshell/
games/
ido.last
init.el~
org-roam.db
persist/
projectile-bookmarks.eld
projectile.cache
request/
tramp
transient/
type-break
